<%- include('header');%>

<%products.forEach(function(elm) {%>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
				<a href="/item/<%=elm._id%>"><img class="img-responsive prodLogo text-center" src="<%=elm.picture%>"></a>
			</div>
			<div class="col-sm-8">
				<h3 class="prodName">
					<a href="/item/<%=elm._id%>"><%=elm.name%></a>
				</h3>
				<p><%=elm.short%></p>
				<strong><%=elm.price%>.00 $</strong>
				<br>
				<ul class="nav nav-pills">
					<li role="presentation"><a href="/item/<%=elm._id%>">Learn more</a></li>
					<li role="presentation"><button data-id = "<%=elm._id%>" class="addToCart">Add to Cart</button></li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
<%})%>

<%- include('footer');%>