<%- include('header');%>

<%products.forEach(function(elm) {%>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-sm-offset-1">
				<a href="/item/<%=elm._id%>"><img class="img-responsive prodLogo text-center" src="<%=elm.picture%>"></a>
			</div>
			<div class="col-sm-8">
				<h3 class="prodName">
					<a href="/item/<%=elm._id%>"><%=elm.name%></a>
				</h3>
				<p><%=elm.short%></p>
				<strong class="pull-right"><%=elm.price%>.00 $</strong>
				<br>
				<div class="pull-right">
					<a href="/item/<%=elm._id%>" class="btn btn-default" role="button">Learn more</a>
					<button data-id = "<%=elm._id%>" class="addToCart btn btn-default">Add to Cart</button>
				</div>
			</div>
		</div>
		<hr>
	</div>
<%})%>

<%- include('footer');%>